/* Header Start */
#nav-area{
    height: 9rem;
    /* max-width: 1530px; */
}
.logo{
    cursor: pointer;
}
.navbar{
    height: 8rem;
    width: 100%;
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    position: fixed;
}
.nav-list ul{
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.latest{
    position: relative;
    display: flex;
}
.hot{
    position: absolute;
    top: -17px;
    right: -20px;
    background: #FF003C;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    border-radius: 0.7rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.nav-list ul li a{
    color: black;
}
.nav-list ul li a:hover{
    color: #FF003C;
    background-color: white;
}
/* DROPDOWN MENU START*/
.nav-list li {
    position: relative;
}

.nav-list .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    z-index: 1000;
    padding-top: 5px; /* Daha stabil açılması üçün */
}

.nav-list a {
    display: flex;
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
}

.nav-list .dropdown:hover .dropdown-menu {
    display: block;
    border-top: 0.5rem solid #ff003c;
}

.dropdown-menu li {
    white-space: nowrap;
}

.dropdown-menu a {
    padding: 8px 16px;
    background-color: #fff;
    color: #333;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f4f4f4;
}

.nav-list li a:hover {
    background-color: #f1f1f1;
    color: #000;
}

/* DROPDOWN MENU FINISH */
.nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
}


.search{
    position: relative;
    display: flex;
}
.search input{
    width: 15rem;
    padding: 1rem;
    padding-right: 3.5rem;
    border: 1px solid #494545;
    border-radius: 2rem;
}
.search i{
    position: absolute;
    right: 1rem;
    top: 50%;
    color: gray;
    cursor: pointer;
}

.favory,
.shop{
    display: flex;
    position: relative;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(189, 185, 185);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #00B1FF;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #00B1FF;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    top: -5px;
    right: -10px;
}

.btn{
    width: 9rem;
    height: 4rem;
    border: none;
    border-radius: 2rem;
    background-color: #2577FD;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: #00B1FF;
}
.burger{
    display: none;
    cursor: pointer;
    color: white;
}
.burger button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 4rem;
    width: 8rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #222222;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
/* Header Finish */

/* Main Start Section first */
#first{
    height: 30rem;
    margin: 0 0 13rem 0;
}
#first .products{
    height: 100%;
}
#first .products h1{
    background-image: url(https://preview.colorlib.com/theme/estore/assets/img/hero/category.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 13rem 0;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}
/* Second */
#second{
    height: 80rem;
}
#second .hero{
    gap: 3rem;
    display: flex;
    height: 100%;
    margin: 0 10rem 13rem 10rem;
}
#second .hero-left{
    width: 75rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.left-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.left-content .travel{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero .hero-left .left-content .travel h2{
    font-family: "Playfair Display", serif;
    font-size: 2.4rem;
}
.hero .hero-left .left-content .travel ul{
    display: flex;
    gap: 1rem;
}
.hero .hero-left .left-content .travel ul li{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: #999999;
    font-size: 1.4rem;
    cursor: pointer;
}
.hero .hero-left .left-content .travel ul li:hover{
    color: #FF003C;
}
.hero .hero-left .left-content .travel ul li i{
    font-size: 1.3rem;
}
.hero .hero-left .left-content .travel ul li:not(:last-child)::after {
    content: " | "; 
    color: black; 
  }
.left-content .text1, .text2, .text3, .text4{
    font-size: 1.5rem;
    color: #506172;
    font-family: "Poppins", sans-serif;
}

.quote-wrapper{
    padding: 3rem;
    height: 20rem;
    background: rgba(130, 139, 178, 0.1);
}
.quote{
    background: white;
    font-size: 1.6rem;
    color: #999999;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    padding: 2rem;
    border-left: 2px solid #888888;
}
.text4{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 2rem;
}

.people{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.post1, .post2{
    display: flex;
    justify-content: space-between;
}
.post-left1 p span{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.post-left1 p span i{
    font-size: 1.8rem;
    color: #506172;
}
.post-left1 p span{
    color: #60707F;
    font-size: 1.4rem;
}
.post-right1{
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    color: #999999;
}
.post-left2, .post-right2{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.post-left2 p, .post-right2 p{
    font-size: 1.4rem;
    color: #506172;
}
.post-left2 a h4, .post-right2 a h4{
    font-family: "Playfair Display", serif;
    font-size: 1.6rem;
    color: #0B1C39;
}
.post2{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 2rem;
}

.harvard{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 3rem;
}
.harvard .harvard-text{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    background: rgb(251, 249, 255);
    padding: 4rem 3rem;
}
.harvard .harvard-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.harvard a h4{
    font-size: 1.6rem;
    font-family: "Playfair Display", serif;
    color: #0B1C39;
}
.harvard p{
    font-size: 1.5rem;
    color: #506172;
    font-family: "Poppins", sans-serif;
}

.comment{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 3rem;
}
.comment h4{
    font-size: 1.8rem;
    font-family: "Playfair Display", serif;
    color: #0B1C39;
    padding-bottom: 3rem;
}
.comment .comment-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.comment .comment-content .person{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.comment .comment-content .person p{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #777777;
}
.person-bottom{
    display: flex;
    justify-content: space-between;
}
.person-bottom1 p{
    padding-left: 13rem;
    color: #999999;
}
.person-bottom2 a{
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    color: #888888;
}
.person-bottom2 a:hover{
    color: #FF003C;
}

.leave{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 15rem;
}
.leave h4{
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    color: #0B1C39;
}
.leave textarea{
    width: 75rem;
    height: 20rem;
    color: gray;
    font-size: 1.5rem;
    padding: 1rem;
    resize: vertical;
    outline: none;
}
.leave textarea:focus::placeholder{
    color: transparent;
}
.leave .email{
    display: flex;
    gap: 3rem;
}
.email input{
    width: 36rem;
    height: 5rem;
    outline: none;
    padding: 1rem;
}
.email input:focus::placeholder{
    color: transparent;
}
.leave .subject{
    height: 5rem;
    padding: 1rem;
    outline: none;
}
.leave .subject:focus::placeholder{
    color: transparent;
}
.leave a{
    font-size: 1.6rem;
    color: white;
    border-radius: 0.3rem;
    padding-left: 2.3rem;
    padding-top: 1.3rem;
    border: 1px solid #0072f5;
    background-color: #0072f5;
    width: 18rem;
    height: 4.5rem;
}
.leave a:hover{
    border-color: #FF003C;
    background-color: transparent;
    color: black;
}


/* Second RIGHT */
.hero-right{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.hero-right .search{
    width: 35rem;
    background-color: rgb(251, 249, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.hero-right .search form{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.search .keyword input{
    width: 25rem;
    height: 5rem;
    border-radius: 0;
    border: 1px solid rgb(187, 187, 187);
}
.search .keyword .icon{
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    background-color: #2577FD;
    bottom: 10.1rem;
    left: 23.1rem;
}
.search .keyword .icon i{
    color: white;
    font-size: 2rem;
}

.search form button{
    width: 25rem;
    height: 5rem;
    border: 1px solid #FDCB9E;
    background-color: #2577FD;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
}
.search form button:hover{
    background-color: transparent;
    border: 1px solid #FF003C;
    color: black;
}
/* ASIDE-2 */
.hero-right .category{
    width: 35rem;
    height: 85rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem 5rem 2rem;
    background-color: rgb(251, 249, 255);
}
.category h4{
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    border-bottom: 1px solid rgb(240, 233, 255);
    padding-bottom: 1rem;
}
.category ul{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.category li{
    border-bottom: 1px solid rgb(240, 233, 255);
    font-size: 1.6rem;
}
.category li a p{
    color: #506172;
}
.category li a p:hover{
    color: #FF003C;
}

/* ASIDE-3 */
.hero-right .post{
    width: 35rem;
    height: 85rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem 5rem 2rem;
    background-color: rgb(251, 249, 255);
}
.hero-right .post h4{
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    border-bottom: 1px solid rgb(240, 233, 255);
    padding-bottom: 1rem;
}
.post .image{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.post .image .img-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.post .image .img-text a h3{
    font-family: "Playfair Display", serif;
    font-size: 1.6rem;
    color: #0B1C39;
}
.post .image .img-text p{
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    color: #506172;
}

/* ASIDE-4 */
.hero-right .tag{
    width: 35rem;
    height: 85rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem 5rem 2rem;
    background-color: rgb(251, 249, 255);
}
.hero-right .tag h4{
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    border-bottom: 1px solid rgb(240, 233, 255);
    padding-bottom: 1rem;
}
.tag ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.tag ul li a{
    display: inline-block;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(255, 255, 255);
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: 0.3s;
    color: rgb(136, 136, 136);
    font-size: 13px;
}
.tag ul li a:hover{
    background-color: #FF003C;
    color: white;
}

/* ASIDE-5 */
.hero-right .instagram{
    width: 35rem;
    height: 85rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem 5rem 2rem;
    background-color: rgb(251, 249, 255);
}
.hero-right .instagram h4{
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    border-bottom: 1px solid rgb(240, 233, 255);
    padding-bottom: 1rem;
}
.instagram ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Aside-6 */
.hero-right .newsletter{
    width: 35rem;
    height: 85rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem 5rem 2rem;
    background-color: rgb(251, 249, 255);
}
.hero-right .newsletter h4{
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    border-bottom: 1px solid rgb(240, 233, 255);
    padding-bottom: 1rem;
}
.newsletter form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.newsletter .email input{
    width: 25rem;
    height: 5rem;
    padding: 1rem;
    border: 1px solid rgb(240, 233, 255);
}
.newsletter form button{
    width: 25rem;
    height: 5rem;
    padding: 1rem;
    border: 1px solid #FDCB9E;
    background-color: #2577FD;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
}
.newsletter form button:hover{
    background-color: transparent;
    border: 1px solid #FF003C;
    color: black;
}

/*FOOTER TOP */
footer{
    margin-top: 190rem;
}
#estore .footer{
    display: flex;
    flex-direction: column;
}
#estore .support{
    display: flex;
    justify-content: space-around;
    margin-top: 15rem;
    font-family: 'Poppins', sans-serif;
}
.support .link{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.support .link img{
    width: 10.2rem;
    height: 2.3rem;
}
.link p{
    font-size: 1.6rem;
    width: 20rem;
    line-height: 1.8;
    color: rgb(134, 140, 152);
}
.link h4{
    font-size: 2rem;
}
.link ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.link li a{
    font-size: 1.6rem;
    color: rgb(134, 140, 152);
}
.link li a:hover{
    color: rgb(34, 34, 248);
}
/* FOOTER BOTTOM */
.end{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.end .left{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(134, 140, 152);
}
.end .left p i{
    color: #0000EE;
}
.end .right{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 1.5rem;
    color: #222222;
    cursor: pointer;
}
.end .right i:hover{
    color: #0000EE;
}