/* Header Start */
#nav-area{
    height: 9rem;
    /* max-width: 1530px; */
}
.logo{
    cursor: pointer;
}
.navbar{
    height: 8rem;
    width: 100%;
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    position: fixed;
}

.nav-list ul{
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.latest{
    position: relative;
    display: flex;
}
.hot{
    position: absolute;
    top: -17px;
    right: -20px;
    background: #FF003C;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    border-radius: 0.7rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.nav-list ul li:hover{
    color: #FF003C;
}
.nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
}


.search{
    position: relative;
    display: flex;
}
.search input{
    width: 15rem;
    padding: 1rem;
    padding-right: 3.5rem;
    border: 1px solid #494545;
    border-radius: 2rem;
}
.search i{
    position: absolute;
    right: 1rem;
    top: 50%;
    color: gray;
    cursor: pointer;
}

.favory,
.shop{
    display: flex;
    position: relative;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(189, 185, 185);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #00B1FF;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #00B1FF;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    top: -5px;
    right: -10px;
}

.btn{
    width: 9rem;
    height: 4rem;
    border: none;
    border-radius: 2rem;
    background-color: #2577FD;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: #00B1FF;
}
.burger{
    display: none;
    cursor: pointer;
    color: white;
}
.burger button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 4rem;
    width: 8rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #222222;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
/* Header Finish */

/* Main Start */
/* Winter Collection */
#main-area{
    height: 70rem;
    /* max-width: 1530px; */
}

.main{
    height: 100%;
    /* max-width: 100%; */
    background-image: url(https://preview.colorlib.com/theme/estore/assets/img/hero/h1_hero.jpg);
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.main img{
    height: 70rem;
}

.main-text{
    /* width: 40rem; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.main-text span{
    font-size: 4rem;
    font-family: "Yellowtail", cursive;
    color: #2577FD;
}
.main-text h1{
    font-size: 10rem;
    color: #1F2022;
    font-family: "Playfair Display", serif;

}
.main-text p{
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: #1F2022;
}
.main-text button{
    width: 15.5rem;
    height: 5rem;
    border-radius: 3rem;
}

 /* Shop By Category */
 #category-area{
    height: 76rem;
}
#category-area .container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 20rem 4.5rem;
}
.hero-content{
    font-size: 2.8rem;
    font-family: "Playfair Display", serif;
    text-align: center;
}
.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hero-img .image{
    width: 40rem;
    height: 25rem;
    position: relative;
}
.image img{
    display: block;
    width: 100%;
    height: 100%;
}
.image-content{
    position: absolute;
    width: 17rem;
    bottom: 9rem;
    left: 22rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.image-content h3{
    font-size: 2.6rem;
    font-family: "Playfair Display", serif;
}
.image-content .best{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    border: 1px solid#FFCE25;
    background-color: #FFCE25;
    height: 4rem;
    padding: 1rem 0;
    border-radius: 2rem;
    text-align: center;
}
.best a{
    color: black;
}
.image-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}
.image .collection{
    font-family: "Yellowtail", cursive;
    font-size: 2.3rem;
    color: #0071FE;
    font-weight: bold;
    text-shadow: 0 -3px 0 #fff;
}

/* Latest Products */
#products-area .products{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 0 5rem;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.products-list ul{
    display: flex;
    gap: 2rem;
}
.products-list ul li a{
    font-size: 1.6rem;
    color: #8f8f96;
}
.products-content{
    font-size: 3.5rem;
    font-family: "Playfair Display", serif;
}

/* CARDS */
.card-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 4.5rem;
    margin-top: 8rem;
}
.card-area .card{
    height: 57rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.card-area .image img{
    height: 40rem;
    width: 36rem;
}
.card .card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.card-content .icons i{
    width: 3rem;
    height: 3rem;
    color: #FFBC37;
}
.card-content .icons .star{
    color: #D4D3D3;
}
.card-content p{
    font-family: "Playfair Display", serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(56, 56, 56);
}
.price ul{
    display: flex;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.price ul .discount{
    color: #FF003C;
    text-decoration: line-through;
}

/* Find The Best Product From Our Shop */
#home .find{
    display: flex;
    align-items: center;
    margin: 20rem 5rem;
    padding: 0 15rem;
    height: 60rem;
    gap: 10rem;
    background-image: url(https://preview.colorlib.com/theme/estore/assets/img/categori/card.png.webp);
}
.photo{
    align-self: flex-end;
}
.home-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.home-content h2{
    font-family: "Playfair Display", serif;
    font-size: 5.5rem;
}
.home-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.home-content .btn{
    border: 1px solid black;
    background-color: black;
    width: 15rem;
    height: 4rem;
    border: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Best Collection of This Month */
#site .banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.banner-content h2{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
}
.banner-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.banner-content img{
    width: 30rem;
    height: 14rem;
}
.banner-content .btn{
    width: 16rem;
    height: 5rem;
    border: none;
    border-radius: 3rem;
    background-color: #2577FD;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.arrivals{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.banner .btn:hover{
    background-color: #00B1FF;
}
.menz{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 25rem;
}
.menz h4{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
.menz .jacket{
    border: 1px solid #2577FD;
    background-color: #2577FD;
    width: 20rem;
    height: 7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: white;
}

/* Get Our Latest Offers News */

#news{
    margin: 12rem 5rem;
}
#news .subscribes{
    margin: 12rem 5rem;
    display: flex;
    background-image: url("https://preview.colorlib.com/theme/estore/assets/img/collection/latest-offer.png.webp");
    max-width: 120rem;
    height: 40rem; 
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
}
#news .subscribes .subscribes-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#news .subscribes .subscribes-content h2{
    font-size: 4rem;
    width: 40rem;
    font-family: "Playfair Display", serif;
}
#news .subscribes .subscribes-content p{
    color: #373B41;
    font-size: 2rem;
}
#news .subscribes .subscribes-email input{
    border-radius: 3rem;
    border: none;
    height: 5rem;
    padding: 1rem;
    width: 100%;
}
#news .subscribes .subscribes-email{
    position: relative;
    width: 40rem;
}
#news .subscribes .subscribes-email .btn{
    border-radius: 3rem;
    width: 15rem;
    text-align: center;
    padding: 1rem;
    display: inline-block;
    height: 5rem;
    position: absolute;
    right: 0;
    background-color: #2577FD;
    color: white;
}

/* SECURE */
#system .methods{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 8rem;
}
#system .methods .secure{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35rem;
    height: 20rem;
}
.secure i{
    color: #282828;
    font-size: 4.5rem;
    width: 4rem;
    height: 2rem;
}
.secure h6{
    color: #282828;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.secure p{
    color: #506172;
    width: 20rem;
    line-height: 1.8;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
/* PHOTOS */
#photos .images{
    width: 100%;
    display: flex;
    margin-left: 5rem;
    margin-top: 13rem;
}

/* ESTORE */
#estore .support{
    display: flex;
    justify-content: space-around;
    margin-top: 15rem;
    font-family: 'Poppins', sans-serif;
}
.support .link{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.support .link img{
    width: 10.2rem;
    height: 2.3rem;
}
.link p{
    font-size: 1.6rem;
    width: 20rem;
    line-height: 1.8;
    color: rgb(134, 140, 152);
}
.link h4{
    font-size: 2rem;
}
.link ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.link li a{
    font-size: 1.6rem;
    color: rgb(134, 140, 152);
}
.link li a:hover{
    color: rgb(34, 34, 248);
}