/* Header Start */
#nav-area{
    height: 9rem;
    /* max-width: 1530px; */
}
.logo{
    cursor: pointer;
}
.navbar{
    height: 8rem;
    width: 100%;
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    position: fixed;
}

.nav-list ul{
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.latest{
    position: relative;
    display: flex;
}
.hot{
    position: absolute;
    top: -17px;
    right: -20px;
    background: #FF003C;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    border-radius: 0.7rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.nav-list ul li:hover{
    color: #FF003C;
}
.nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
}


.search{
    position: relative;
    display: flex;
}
.search input{
    width: 15rem;
    padding: 1rem;
    padding-right: 3.5rem;
    border: 1px solid #494545;
    border-radius: 2rem;
}
.search i{
    position: absolute;
    right: 1rem;
    top: 50%;
    color: gray;
    cursor: pointer;
}

.favory,
.shop{
    display: flex;
    position: relative;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(189, 185, 185);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #00B1FF;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #00B1FF;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    top: -5px;
    right: -10px;
}

.btn{
    width: 9rem;
    height: 4rem;
    border: none;
    border-radius: 2rem;
    background-color: #2577FD;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: #00B1FF;
}
.burger{
    display: none;
    cursor: pointer;
    color: white;
}
.burger button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 4rem;
    width: 8rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #222222;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
/* Header Finish */

/* Main Start */
/* Winter Collection */
#main-area{
    height: 70rem;
    /* max-width: 1530px; */
}

.main{
    height: 100%;
    /* max-width: 100%; */
    background-image: url(https://preview.colorlib.com/theme/estore/assets/img/hero/h1_hero.jpg);
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.main img{
    height: 70rem;
}

.main-text{
    /* width: 40rem; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.main-text span{
    font-size: 4rem;
    font-family: "Yellowtail", cursive;
    color: #2577FD;
}
.main-text h1{
    font-size: 10rem;
    color: #1F2022;
    font-family: "Playfair Display", serif;

}
.main-text p{
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: #1F2022;
}
.main-text button{
    width: 15.5rem;
    height: 5rem;
    border-radius: 3rem;
}

 /* Shop By Category */
 #category-area{
    height: 76rem;
}
#category-area .container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 20rem 4.5rem;
}
.hero-content{
    font-size: 2.8rem;
    font-family: "Playfair Display", serif;
    text-align: center;
}
.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hero-img .image{
    width: 40rem;
    height: 25rem;
    position: relative;
}
.image img{
    display: block;
    width: 100%;
    height: 100%;
}
.image-content{
    position: absolute;
    width: 17rem;
    bottom: 9rem;
    left: 22rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.image-content h3{
    font-size: 2.6rem;
    font-family: "Playfair Display", serif;
}
.image-content .best{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    border: 1px solid#FFCE25;
    background-color: #FFCE25;
    height: 4rem;
    padding: 1rem 0;
    border-radius: 2rem;
    text-align: center;
}
.best a{
    color: black;
}
.image-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}
.image .collection{
    font-family: "Yellowtail", cursive;
    font-size: 2.3rem;
    color: #0071FE;
    font-weight: bold;
    text-shadow: 0 -3px 0 #fff;
}



