/* Header Start */
#nav-area{
    height: 9rem;
    /* max-width: 1530px; */
}
.logo{
    cursor: pointer;
}
.navbar{
    height: 8rem;
    width: 100%;
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    position: fixed;
}
.nav-list ul{
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.latest{
    position: relative;
    display: flex;
}
.hot{
    position: absolute;
    top: -17px;
    right: -20px;
    background: #FF003C;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    border-radius: 0.7rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.nav-list ul li a{
    color: black;
}
.nav-list ul li a:hover{
    color: #FF003C;
    background-color: white;
}
/* DROPDOWN MENU START*/
.nav-list li {
    position: relative;
}

.nav-list .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    z-index: 1000;
    padding-top: 5px; /* Daha stabil açılması üçün */
}

.nav-list a {
    display: flex;
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
}

.nav-list .dropdown:hover .dropdown-menu {
    display: block;
    border-top: 0.5rem solid #ff003c;
}

.dropdown-menu li {
    white-space: nowrap;
}

.dropdown-menu a {
    padding: 8px 16px;
    background-color: #fff;
    color: #333;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f4f4f4;
}

.nav-list li a:hover {
    background-color: #f1f1f1;
    color: #000;
}

/* DROPDOWN MENU FINISH */
.nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
}


.search{
    position: relative;
    display: flex;
}
.search input{
    width: 15rem;
    padding: 1rem;
    padding-right: 3.5rem;
    border: 1px solid #494545;
    border-radius: 2rem;
}
.search i{
    position: absolute;
    right: 1rem;
    top: 50%;
    color: gray;
    cursor: pointer;
}

.favory,
.shop{
    display: flex;
    position: relative;
    color: rgb(59, 59, 59);
    border: 1px solid rgb(189, 185, 185);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #00B1FF;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #00B1FF;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    top: -5px;
    right: -10px;
}

.btn{
    width: 9rem;
    height: 4rem;
    border: none;
    border-radius: 2rem;
    background-color: #2577FD;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: #00B1FF;
}
.burger{
    display: none;
    cursor: pointer;
    color: white;
}
.burger button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 4rem;
    width: 8rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #222222;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
/* Header Finish */

/* Main Start */
#first{
    height: 30rem;
}
#first .products{
    height: 100%;
}
#first .products h1{
    background-image: url(https://preview.colorlib.com/theme/estore/assets/img/hero/category.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 13rem 0;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}

/* Second */
#second .pillow{
    margin: 20rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
.pillow .bottom{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
.pillow .bottom h3{
    font-size: 4rem;
    font-family: "Playfair Display", serif;
    color: #0B1C39;
    width: 50rem;
    text-align: center;
}
.pillow .bottom p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #707070;
    width: 80rem;
    text-align: center;
    line-height: 3rem;
}

.quantity-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-family: Arial, sans-serif;
}
.quantity-container label{
    font-size: 1.6rem;
    color: #707070;
}
.quantity-selector {
    display: flex;
    border: 1px solid #828BB2;
    overflow: hidden;
}

.quantity-selector button {
    background-color: white;
    border: none;
    color: #707070;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
}

.quantity-selector input {
    width: 4rem;
    text-align: center;
    border: none;
    background-color: #828BB2;
    color: white;
    font-size: 1.8rem;
}


.price {
    font-size: 1.6rem;
    color: #707070;
}

.pillow a{
    color: #2577FD;
    width: 16rem;
    height: 6rem;
    border: 1px solid #2577FD;
    text-align: center;
    padding: 2.2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}
.pillow a:hover{
    color: white;
    background-color: #2577FD;
}